NODE_ENV="development"
PORT=3000
DATABASE_URL="postgresql://user:password@localhost:5432/mydb?schema=public"
ALLOWED_ORIGIN="http://localhost:5173"

# Session — must be at least 32 characters
SESSION_SECRET="This_is_a_secret_hush_hush_do_not_forget_to_change_me"
SESSION_SALT="mySuperSalt!1234"
REDIS_URL="redis://localhost:6379"

# App base URL (used for OAuth callback URLs)
APP_URL="http://localhost:3000"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# GitHub OAuth
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Facebook OAuth (email permission must be added in order to retrieve it)
FACEBOOK_CLIENT_ID=""
FACEBOOK_CLIENT_SECRET=""

# Twitter/X OAuth (OAuth 1.0a — uses consumer key/secret terminology)
TWITTER_CLIENT_ID=""
TWITTER_CLIENT_SECRET=""

# Discord OAuth
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# Microsoft OAuth
MICROSOFT_CLIENT_ID=""
MICROSOFT_CLIENT_SECRET=""

# Apple OAuth (username/email is only given the first time (or something like this), save it ALSO it's not free to get oauth so I didn't try)
APPLE_CLIENT_ID=""
APPLE_KEY_ID=""
APPLE_PRIVATE_KEY=""
APPLE_TEAM_ID=""

# Amazon OAuth
AMAZON_CLIENT_ID=""
AMAZON_CLIENT_SECRET=""

# Reddit OAuth (require admin approval for API access (mine got refused for lack of expaination (I just said I wanted to test locally oauth...)))
REDDIT_CLIENT_ID=""
REDDIT_CLIENT_SECRET=""

# PayPal OAuth (By the time I tried, the dev dashboard had issues preventing me to save the callback URL and permission for email)
PAYPAL_CLIENT_ID=""
PAYPAL_CLIENT_SECRET=""

# LinkedIn OAuth
LINKEDIN_CLIENT_ID=""
LINKEDIN_CLIENT_SECRET=""